.search {
  display: flex;
  width: 40%;
  align-items: center;
  padding: 3px;
  border: 0.5px solid lightgray;
  border-radius: 5px;

  input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    padding: 5px 10px;

    &::placeholder {
      font-size: 12px;
      padding-left: 5px;
    }
  }
}
