.sidebar {
    flex: 1.3;
    min-height: 100vh;
    border-radius: 0.5px solid lightgray;
    background-color: whitesmoke;
    
    .top {
        display: flex;
        height: 50px;
        align-items: center;
        justify-self: center;

        .logo {
            font-size: 20px;
            font-weight: bold;
<<<<<<< HEAD
            color: #0a9048;
        }
    }

    .bottom {
        padding-left: 10px;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            .title {
                font-size: 14px;
                font-weight: bold;
                color: #616161;
                margin-top: 15px;
                margin-bottom: 5px;
            }

            li {
                display: flex;
                align-items: center;
                padding: 5px;
                cursor: pointer;

                &:hover {
                    background-color: #dddddd;
                }

                .icon {
                    font-size: 22px;
                    color: #0A9048;
                }

                span {
                    font-size: 13px;
                    font-weight: 700;
                    color: #616161;
                    margin-left: 10px;
                }
            }
=======
            color: #210876;
>>>>>>> 0541798ca4dac0feaa48a92f69233205d0c7c5f4
        }
    }
}