.cellAction {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;

  span {
    display: inline-block;
    line-height: normal;
  }

  .deleteButton {
    padding: 4px 8px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    color: crimson;
    border: 1px dotted rgba(220, 20, 60, 0.6);

    &:hover {
      background-color: rgba(220, 20, 60, 0.1);
    }
  }
}
