.new {
  width: 100%;
  display: flex;

  .newContainer {
    flex: 6;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 20px;

    .top,
    .bottom {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      background-color: #ffffff;
      border-radius: 5px;
      margin: 20px;
      padding: 5px;
      display: flex;

      h1 {
        font-size: 20px;
        font-weight: 300;
        color: #616161;
        padding: 10px;
      }

      .left {
        flex: 1;
        text-align: center;

        .image {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            object-fit: cover;
            transform: translateY(100px);
        }
      }

      .right {
        flex: 2;

        form {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            justify-content: space-arround;

            .formInput {
                width: 40%;

                label {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    .icon {
                        cursor: pointer;
                    }
                }

                input {
                    width: 100%;
                    padding: 5px;
                    border: none;
                    border-bottom: 1px solid gray;
                    font-size: 18px;
                    outline: none;
                    background: transparent;

                    &::placeholder {
                        font-size: 14px;
                    }
                }
            }

            button {
              width: 150px;
              padding: 10px;
              margin: 10px auto;
              border-radius: 10px;
              border: none;
              background-color: #0A9048;
            //   210876
              color: white;
              font-weight: bold;
              cursor: pointer;  

              &:hover {
                background-color: white;
                color: #0A9048;
                border: 1px solid #0A9048;
              }
            }
        }
      }
    }
  }
}
